
.store-memo{
  padding: rem(20) 0 ;
}


.btn-more {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0 rem(10);

    i {
		display: inline-block;
        width: 12px;
        height: 12px;
        margin-left: rem(3);
        background-image: url(@/assets/default/images/icon/btn_view_more_12.svg);
    }
}


.about-text {
	position: relative;
	margin-top: rem(12);
	overflow: hidden;
	line-height: 1.6;
	padding-left: rem(20);
	padding-right: rem(20);

	margin-bottom: rem(10);
	overflow: hidden;
	max-height: rem(120);

	&.shadow-on:before {
		content: '';
		position: absolute;
		bottom: rem(-8);
		left: rem(-10);
		width: calc(100% + 20px);
		height: rem(35);

		-webkit-filter: blur(6px);
		filter: blur(6px);
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9) 39%, #fff);
	}

	&.on {
		max-height: none;

		&::before {
			display: none;
		}

		+.btn-more {
			.icon-more {
				transform: rotate(-180deg);
			}
		}
	}
}

.comforts-list {
	display: flex;
	margin-left: auto;
	flex-wrap: wrap;
	@include grid-gutter(6px);
	@include grid-offset(10px);
	max-height: rem(190);
	margin-bottom: rem(20);
	overflow: hidden;

	&.on {
		max-height: none;

		&::before {
			display: none;
		}

		+.btn-more {
			.icon-more {
				transform: rotate(-180deg);
			}
		}
	}

	li {
		max-width: 50%;
		flex: 0 0 50%;
	}

	.item {
		border: 1px solid #d6d6d6;
		border-radius: rem(12);
		height: rem(56);
		padding: rem(17) rem(15);
		display: flex;
		align-items: center;
		font-size: rem(14);
		color: #888;
		font-weight: 500;

		i {
			flex: 0 0 auto;
			width: rem(22);
			height: rem(22);
			background-repeat: no-repeat;
			background-position: 0 0;
			margin-right: rem(8);
			background-size: rem(22) auto;

			&.icon_parking_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_parking_22.svg);
			}

			&.icon_valet_p_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_valet_p_22.svg);
			}

			&.icon_charge_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_charge_22.svg);
			}

			&.icon_wifi_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_wifi_22.svg);
			}

			&.icon_party_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_party_22.svg);
			}

			&.icon_business_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_business_22.svg);
			}

			&.icon_room_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_room_22.svg);
			}

			&.icon_seat_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_seat_22.svg);
			}

			&.icon_terrace_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_terrace_22.svg);
			}

			&.icon_pet_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_pet_22.svg);
			}

			&.icon_drive_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_drive_22.svg);
			}

			&.icon_kids_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_kids_22.svg);
			}

			&.icon_milk_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_milk_22.svg);
			}

			&.icon_photo_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_photo_22.svg);
			}

			&.icon_smoking_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_smoking_22.svg);
			}

			&.icon_smart_order_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_smart_order_22.svg);
			}

			&.icon_parcel_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_parcel_22.svg);
			}

			&.icon_corkage_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_corkage_22.svg);
			}

			&.icon_baby_chair_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_baby_chair_22.svg);
			}

			&.icon_restroom_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_restroom_22.svg);
			}

			&.icon_24hour_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_24hour_22.svg);
			}

			&.icon_always_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_always_22.svg);
			}

			&.icon_kiosk_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_kiosk_22.svg);
			}

			&.icon_self_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_self_22.svg);
			}

			&.icon_rental_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_rental_22.svg);
			}

			&.icon_etc_22 {
				background-image: url(@/assets/default/images/icon/comforts/icon_etc_22.svg);
			}
		}
	}
}





.store-slider {
	position: relative;

	.slide-count {
		position: absolute;
		bottom: rem(11);
		right: rem(16);
		background-color: rgba(#000, 0.3);
		border-radius: rem(20);
		width: rem(59);
		height: rem(20);
		line-height: rem(20);
		color: #fff;
		font-size: rem(11);
		text-align: center;
		z-index: 1;

		.text {
			margin-left: rem(3);
			letter-spacing: 1px;
			color: #fff;
		}
	}
}

.store-slider {
	overflow: hidden;

	.slide-count {
		width: rem(34);
		letter-spacing: 0;
	}
}