

.minimum-price {
	@extend %roundbox;
	display: flex;
	align-items: center;

	dl {
		display: flex;

		&:first-child {
			margin-right: rem(29);
		}

		dt {
			font-size: rem(13);
			font-weight: 500;
			color: #fff;
			text-align: center;
			flex: 0 0 auto;
			width: rem(40);
			height: rem(24);
			line-height: rem(24);
			background-color: var(--primary-1);
			border-radius: rem(8);
			margin-right: rem(6);
		}

		dd {
			font-size: rem(15);
		}
	}

	@media screen and (max-width: 350px) {
		display: block;

		dl {
			&:first-child {
				margin-right: 0;
				margin-bottom: rem(10);
			}

			&:first-child {
				margin-right: 0;
			}
		}
	}
}
