.event-count {
  color: #222;
  font-size: rem(17);
  padding: rem(18) rem(17);
  line-height: 1.1;
  em {
    font-weight: bold;
    color: var(--primary-1);
  }
}

.event-list {
  li:not(:first-child) {
    margin-top: rem(7);
  }
}

.event-detail-wrap {
  img {
    width: 100%;
  }

  .event-memo {
    background-color: #f6f6f6;
    @include wrapper;
    padding-top: rem(30);
    padding-bottom: rem(30);

    &.full-bg{

      min-height: calc(100vh - 3.25rem);
    }
    .event-memo-title {
      font-size: rem(15);
      color:#444444;
      margin-bottom: rem(12);
      font-family: 'SBAggroB';
    }

    .event-memo-contents {
      position: relative;
      padding-left: rem(5);
      margin-top: rem(9);
      font-size: rem(13);
			color:#666; 
      line-height: 1.85;
      font-weight: 300;
    }
  }
}

// 첫주문 이벤트
.event-first-order {
  .event-body {
    position: relative;
    .event-text {
      position: absolute;
      font-family: 'SBAggroB';

      top: 8%;
      left: 0;
      width: 100%;
      @include font-size(46px, 92px);

      font-family: 'SBAggroB';
      font-weight: 700;
      color: #0a1d47;
      letter-spacing: -2px;
      text-align: center;
      line-height: 1.28;

      .dote {
        position: relative;
        display: inline-block;
        &:before {
          content: '';
          position: absolute;
          background-color: #0a1d47;
          top: rem(-13);
          left: 50%;
          transform: translateX(-50%);

          @media screen and (min-width: 720px) {
            width: 12px;
            height: 12px;
            border-radius: 12px;
          }

          @media screen and (max-width: 720px) {
            width: sizecalc(7px, 12px);
            height: sizecalc(7px, 12px);
            border-radius: sizecalc(7px, 12px);
          }
        }
      }
      .price {
        color: #fff;
      }
    }

    .event-date {
      position: absolute;
      left: 0;
      width: 100%;
      top: 29.5%;
      font-family: 'SBAggroB';

      @include font-size(20px, 40px);
      color: #0a1d47;
      display: inline-block;
      text-align: center;

      .text-line {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          bottom: rem(1);
          left: 0;
          background-color: #5899f9;

          @include height(8px, 16px);
          display: block;
          z-index: -1;
        }
      }
    }
    .coupon-price {
      font-family: 'SBAggroB';
      position: absolute;
      top: 57.5%;
      left: 36.5%;
      color: #fff;
      transform: skewy(342deg) skewx(27deg) rotate(355deg);
      line-height: 1.3;
      letter-spacing: -1px;
      @include font-size(39px, 79px);

      .unit {
        @include font-size(30px, 60px);
        display: inline-block;
        position: relative;
        top: rem(-2);
        font-weight: 400;
      }
    }

    .event-des {
      position: absolute;
      bottom: 6vh;
      left: 0;
      width: 100%;
      @include font-size(19px, 38px);

      color: #fff;
      letter-spacing: -0.57px;
      text-align: center;
      line-height: 1.58;
      .text-line {
        font-weight: 700;
        position: relative;
        display: inline-block;
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          bottom: rem(2);
          left: 0;
          background-color: #4486e6;

          @include height(8px, 16px);
          display: block;
          z-index: -1;
        }
      }
    }
  }

  .event-img-wrap {
    position: relative;
    display: block;
    $padding: unquote(calc(1188px / 720px) * 100 + '%');
    padding-top: $padding;
    .event-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .event-img {
    width: 100%;
    position: relative;
    z-index: -2;
  }
  .event-footer {
    background-color: #444444;
    @include wrapper;
    padding-top: rem(30);
    padding-bottom: rem(30);
    .event-footer-title {
      font-size: rem(15);
      color: #fff;
      margin-bottom: rem(12);
      font-family: 'SBAggroB';
    }
    .event-footer-list {
      li {
        position: relative;
        padding-left: rem(5);
        margin-top: rem(9);
        font-size: rem(13);
        color: #d6d6d6;
        line-height: 1.85;
        font-weight: 300;

        &:first-child {
          margin-top: 0;
        }

        &:before {
          content: '-';
          position: absolute;
          top: rem(2);
          left: 0;
        }
      }
    }
  }
}

// 첫주문 이벤트 배너

.event-first-order-banner {
  .pos-relative {
    position: relative;
  }
  .event-text {
    position: absolute;
    top: 50%;
    left: 0;
    padding-left: 5.5%;
    width: 100%;
    transform: translateY(-50%);

    .t-head {
      margin-top: rem(4);

      @include font-size(19px, 38px);

      font-family: 'SBAggroB';
      font-weight: 700;
      color: #0a1d47;
      line-height: 1.28;
      letter-spacing: -1px;
      margin-bottom: rem(2);
    }
    .t-des {
      color: #fff;
      @include font-size(13px, 26px);
    }
  }
  .coupon-price {
    font-family: 'SBAggroB';
    position: absolute;
    top: 51%;
    left: 74%;
    color: #fff;
    transform: skewy(342deg) skewx(27deg) rotate(355deg);
    line-height: 1.3;
    letter-spacing: -1px;
    @include font-size(13px, 26px);
    .unit {
      @include font-size(9px, 20px);
      display: inline-block;
      position: relative;
      top: rem(-1);
      font-weight: 400;
    }
  }
}
