
.business-info {
	dl {
		display: flex;
		align-items: center;
		margin-top: rem(8);
		font-size: rem(15);

		&:first-child {
			margin-top: 0;
		}

		dt {
			color: #666;
			font-weight: bold;
			margin-right: rem(15);
			flex: 0 0 auto;
			width: rem(94);
		}
	}
}
