@charset "UTF-8";

/*
 * File       : _reset.scss
 * Author     : khr
 *
 * SUMMARY:
 * 1) Reaset 
 * 2) Form
 
 */

/* 1) Reaset*/

h1,
h2,
h3,
h4,
h5,
h6,
[class^='heading-'] {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
	//letter-spacing: 0.05em;
	// text-transform: uppercase;
}


body {
	margin: 0;
}


main {
	display: block;
}

/**
* 1. Firefox에서 올바른 상자 크기를 추가함.
* 2. Edge 및 IE에서 오버플로를 표시함.
 */

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */
}


pre {
	font-family: monospace, monospace;
	font-size: 1em;

}


a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
	color:#666;
}

/**
* 1. Chrome 57에서 하단 테두리 제거
* 2. Chrome, Edge, IE, Opera 및 Safari에서 올바른 텍스트 장식을 제거함.
 */

abbr[title],
dfn[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
}


b,
strong {
	font-weight: bolder;
}

/**
* 1. 모든 브라우저에서 글꼴 크기 상속 및 배율을 수정함.
* 2. 모든 브라우저에서 홀수 'em' 글꼴 크기를 수정함.
 */

code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}


small {
	font-size: 80%;
}



sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

caption {
	display: block;
	position: absolute;
	left: -9999px;
}



/**
* 1. Edge와 IE의 텍스트 래핑을 수정함.
* 2. IE의 '필드셋' 요소에서 색상 상속을 수정함.
* 3. 패딩 제거
* 
 */

legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* 1 */
	color: inherit;
	/* 2 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	white-space: normal;
	/* 1 */
}

/**
 *Chrome, Firefox 및 Opera에서 올바른 수직 정렬을 추가함.
 */

progress {
	vertical-align: baseline;
}



/**
 * IE 10에 올바른 디스플레이를 추가함.
 */

details {
	display: block;
}


summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

/**
 * Margin, Padding reset
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
select,
optgroup,
button {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/**
 * HTML5 Tags reset for older browsers
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

/*
 * List
 */

ol,
ul,
li {
	padding: 0;
	list-style: none;
}

/**
 * Table
 */

table,
th,
td {
	//border-collapse: separate;
	border-collapse: collapse;

	border-spacing: 0;
	font-weight: normal;
}

th,
td {
	word-break: break-all;
}


fieldset,
blockquote,
iframe,
button {
	border: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: none;
}

/* 2) Form */

/**
* 1. 모든 브라우저에서 글꼴 스타일을 변경함.
* 2. Firefox 및 Safari에서 여백을 제거함.
 */

button,
input,
optgroup,
select,
textarea {
	font-size: 1rem;
	font-family: inherit;
	/* 1 */
	line-height: 1.2;
	/* 1 */
	margin: 0;
	/* 2 */
	padding: 0;
	vertical-align: middle;
}



button,
input {

	overflow: visible;
}

/**
* Edge, Firefox 및 IE에서 텍스트 변환 상속을 제거함.
* 1. Firefox에서 텍스트 변환 상속을 제거함.
  */

button,
select {
	/* 1 */
	text-transform: none;
}



button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
  * Remove the inner border and padding in Firefox.
  */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
  * 이전 규칙에서 설정되지 않은 포커스 스타일을 복원함.
  */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 *1.IE 10+에서 기본 수직 스크롤 막대를 제거함.
 *2.사용자 임의 변경 불가
 */

textarea {
	overflow: auto;
	/* 1 */
	resize: none;
	/* 2 */

}

/**
* 1. IE 10에 box-sizing 설정함.
* 2. IE 10의 패딩을 제거함.
 */

[type='checkbox'],
[type='radio'] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Chrome에서 커서 스타일의 증가 및 감소 버튼을 수정함.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

/**
* 1. Chrome과 Safari의 모양을 수정함.
* 2. Safari에서 아웃라인 스타일을 수정함.
 */

[type='search'] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}

/**
 *MacOS의 Chrome과 Safari에서 내부 패딩을 제거함.
 */

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

input::-ms-clear,
input::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
	display: none;
}

/**
* 1. iOS와 Safari에서 클릭 가능한 유형을 스타일링할 수 없는 문제를 해결함.
* 2. Safari에서 글꼴 속성을 'inherit'으로 변경함.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}



button {
	background: transparent;
	border: none;
	cursor: pointer;
	vertical-align: middle;
	margin: 0;
	cursor: pointer;
	-webkit-appearance: none;
}

input {
	font: inherit;
	margin: 0;
	line-height: normal;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	border-radius: 0;
	resize: none;
}

input {

	&[type='submit'],
	&[type='button'],
	&[type='reset'] {
		cursor: pointer;
		-webkit-appearance: none;
	}
}

img,
fieldset {
	border: 0;
	outline: none;
}

img {

	border-style: none;
	display: inline-block;
	border: 0;

	max-width: 100%;
	height: auto;

	vertical-align: top;
}

select {
	margin: 0;
	resize: none;
	vertical-align: middle;
	-webkit-border-radius: 0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-text-overflow: '';
	text-overflow: '';

}



/* IE 10, 11의 네이티브 화살표 숨기기 */

select::-ms-expand {
	display: none;

}

/* IE 검색 'X'를 지움.*/
input[type='search']::-ms-clear,
input[type='search']::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

/* Chrome 검색 'X'를 지움.*/
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

/* Outline */
* {
	outline: none !important;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

textarea:focus {
	outline: none !important;
}

button:focus {
	outline: none !important;
}

input:focus {
	outline: none !important;
}

//나눔스퀘어등 사용시  타이핑표시(**)가 되지 않는 문제 기본글꼴로 변경함.
input[type='password'] {
	font-family: sans-serif;

	&:placeholder-shown {
		font-family: sans-serif;
	}
}

html {
	-webkit-text-size-adjust: none; //텍스트의 크기를 자동으로 조절 하지 않음.
	-webkit-font-smoothing: subpixel-antialiased; //브라우저에 표현되는 텍스트가 렌더링될 때 부드럽게 표현됨.
}

em{
	font-style: normal;
}